body {
  font-family: "Times New Roman", Times, serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.examples .content {
  position: relative;
}

.btn-repl {
  color: #34349e;
  font-size: 16px;
  position: absolute;
  right: 4px;
  cursor: pointer;
  text-decoration: underline;
  margin: 4px;
}

ul {
  list-style-type: circle;
}

.std-item {
  background: #fafafa;
  border: 0.5px solid lightgray;
  padding: 8px 16px;
  border-radius: 5px;
  margin-bottom: 16px;
}

.std-item h2 {
  margin-top: 4px;
}

code {
  border-radius: 5px;
}

.module-name,
.name {
  font-family: "Courier New", Courier, monospace;
}

.name > a {
  color: #0275d8;
}

.repl {
  margin-left: 16px;
}

a {
  text-decoration: none;
  color: black;
}

.toc {
  background: #fafafa;
  border: 0.5px solid lightgray;
  border-radius: 5px;
  padding: 8px 16px;
  padding-bottom: 16px;
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  margin: 16px;
  width: 208px;
  overflow: auto;
}

.row > .content {
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 256px;
  right: 0;
  margin: 16px;
  overflow: auto;
}

.list {
  overflow: hidden;
}

.toc-item {
  font-family: "Courier New", Courier, monospace;
}

.breadcrumbs {
  font-size: 16px;
  padding-top: 8px;
}

.breadcrumbs > a {
  color: #0275d8;
}

.breadcrumbs > a:hover {
  color: black;
}
