body {
  font-family: "Times New Roman", Times, serif;
}

.examples .content {
  position: relative;
}

.btn-repl {
  color: #34349e;
  font-size: 16px;
  position: absolute;
  right: 4px;
  cursor: pointer;
  text-decoration: underline;
  margin: 4px;
}

ul {
  list-style-type: circle;
}

.std-item {
  background: #fafafa;
  border: 0.5px solid lightgray;
  padding: 8px 16px;
  border-radius: 5px;
  margin-bottom: 16px;
}

.std-item h2 {
  margin-top: 4px;
}

code {
  border-radius: 5px;
}
