.all-contributorsrc
.coverage
.eslintrc.js
.git
.github
.gitignore
.npmignore
.prettierignore
*.test.js
*.test.ts
addExtensions.js
compile.js
document.js
ignore.js
package-lock.json
readme.js
regenerate.js
rollup.config.js
