*.md
*.test.js
*.test.ts
.all-contributorsrc
.babelrc.js
.coverage
.eslintignore
.eslintrc.js
.git
.github
.gitignore
.npmignore
.prettierignore
.prettierrc
addExtensions.js
compile.js
document.js
ignore.js
normalizeLineEndings.js
package-lock.json
readme.js
regenerate.js
rollup.config.js
