.all-contributorsrc
.coverage
.eslintrc.js
.git
.github
.gitignore
.npmignore
.prettierignore
*.test.js
*.test.ts
addExtensions.js
compile.js
ignore.js
normalize-line-endings.js
package-lock.json
regenerate.js
rollup.config.js
