body {
  font-family: "Times New Roman", Times, serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
}

.examples .content {
  position: relative;
}

.btn-repl {
  color: #0275d8;
  font-size: 16px;
  position: absolute;
  right: 4px;
  cursor: pointer;
  text-decoration: underline;
  margin: 4px;
}

ul {
  list-style-type: circle;
}

article {
  margin-bottom: 56px;
}

article h2 {
  margin-top: 4px;
}

code {
  border-radius: 5px;
}

.module-name,
.name {
  font-family: "Courier New", Courier, monospace;
}

.module-name.selected > a,
.name > a {
  color: #0275d8;
}

.repl {
  margin-left: 16px;
}

a {
  text-decoration: none;
  color: black;
}

aside {
  background: #fafafa;
  padding-bottom: 16px;
  display: block;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 320px;
  overflow: auto;
  position: sticky;
  flex-shrink: 0;
  max-height: 100vh;
  padding: 16px;
  box-sizing: border-box;
}

aside h1 {
  font-size: 1.25em;
}

aside h3 {
  min-height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  border: 1px solid lightgray;
  border-left-width: 0;
  border-right-width: 0;
  margin: 0 -16px;
  padding: 0 16px;
}

.module {
  margin-bottom: 32px;
}

main {
  padding: 16px;
  width: 100%;
  margin: 0 auto;
  max-width: 640px;
}

.list {
  overflow: hidden;
}

.toc-item {
  font-family: "Courier New", Courier, monospace;
  min-height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
  margin: 0 -16px;
}

.toc-item.selected {
  font-weight: bold;
  color: #0275d8;
  font-size: 18px;
}

.toc-item:hover {
  background: rgba(0, 0, 0, 0.05);
}

.breadcrumbs {
  font-size: 16px;
  padding-top: 8px;
}

.breadcrumbs > a {
  color: #0275d8;
}

.breadcrumbs > a:hover {
  color: black;
}

.breadcrumbs > span {
  padding: 0 4px;
}

#searchInput {
  font-size: 16px;
  padding: 8px 16px;
  box-sizing: border-box;
  width: calc(100% + 32px);
  border: none;
  box-sizing: border-box;
  margin: 0 -16px;
  padding: 0 16px;
  min-height: 36px;
}

#searchInput:focus {
  outline: none;
  border-bottom-color: #0275d8;
}
